/*
* =================================================================
* ====================== Wormhole Stylesheet ======================
* =================================================================
*/

@font-face {
    font-family: 'robotoblack';
    src: url('/vendor/quantic/igniter/src/Wormhole/assets/fonts/Roboto/roboto-black-webfont.woff2') format('woff2'),
    url('/vendor/quantic/igniter/src/Wormhole/assets/fonts/Roboto/roboto-black-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'robotoblack_italic';
    src: url('/vendor/quantic/igniter/src/Wormhole/assets/fonts/Roboto/roboto-blackitalic-webfont.woff2') format('woff2'),
    url('/vendor/quantic/igniter/src/Wormhole/assets/fonts/Roboto/roboto-blackitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'robotobold';
    src: url('/vendor/quantic/igniter/src/Wormhole/assets/fonts/Roboto/roboto-bold-webfont.woff2') format('woff2'),
    url('/vendor/quantic/igniter/src/Wormhole/assets/fonts/Roboto/roboto-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'robotobold_italic';
    src: url('/vendor/quantic/igniter/src/Wormhole/assets/fonts/Roboto/roboto-bolditalic-webfont.woff2') format('woff2'),
    url('/vendor/quantic/igniter/src/Wormhole/assets/fonts/Roboto/roboto-bolditalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'robotoitalic';
    src: url('/vendor/quantic/igniter/src/Wormhole/assets/fonts/Roboto/roboto-italic-webfont.woff2') format('woff2'),
    url('/vendor/quantic/igniter/src/Wormhole/assets/fonts/Roboto/roboto-italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'robotolight';
    src: url('/vendor/quantic/igniter/src/Wormhole/assets/fonts/Roboto/roboto-light-webfont.woff2') format('woff2'),
    url('/vendor/quantic/igniter/src/Wormhole/assets/fonts/Roboto/roboto-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'robotolight_italic';
    src: url('/vendor/quantic/igniter/src/Wormhole/assets/fonts/Roboto/roboto-lightitalic-webfont.woff2') format('woff2'),
    url('/vendor/quantic/igniter/src/Wormhole/assets/fonts/Roboto/roboto-lightitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'robotomedium';
    src: url('/vendor/quantic/igniter/src/Wormhole/assets/fonts/Roboto/roboto-medium-webfont.woff2') format('woff2'),
    url('/vendor/quantic/igniter/src/Wormhole/assets/fonts/Roboto/roboto-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'robotomedium_italic';
    src: url('/vendor/quantic/igniter/src/Wormhole/assets/fonts/Roboto/roboto-mediumitalic-webfont.woff2') format('woff2'),
    url('/vendor/quantic/igniter/src/Wormhole/assets/fonts/Roboto/roboto-mediumitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'robotoregular';
    src: url('/vendor/quantic/igniter/src/Wormhole/assets/fonts/Roboto/roboto-regular-webfont.woff2') format('woff2'),
    url('/vendor/quantic/igniter/src/Wormhole/assets/fonts/Roboto/roboto-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'robotothin';
    src: url('/vendor/quantic/igniter/src/Wormhole/assets/fonts/Roboto/roboto-thin-webfont.woff2') format('woff2'),
    url('/vendor/quantic/igniter/src/Wormhole/assets/fonts/Roboto/roboto-thin-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'robotothin_italic';
    src: url('/vendor/quantic/igniter/src/Wormhole/assets/fonts/Roboto/roboto-thinitalic-webfont.woff2') format('woff2'),
    url('/vendor/quantic/igniter/src/Wormhole/assets/fonts/Roboto/roboto-thinitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}