@font-face {
    font-family: 'ralewayblack';
    src: url('../fonts/Raleway/raleway-black-webfont.woff2') format('woff2'),
    url('../fonts/Raleway/raleway-black-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ralewaybold';
    src: url('../fonts/Raleway/raleway-bold-webfont.woff2') format('woff2'),
    url('../fonts/Raleway/raleway-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ralewayitalic';
    src: url('../fonts/Raleway/raleway-italic-webfont.woff2') format('woff2'),
    url('../fonts/Raleway/raleway-italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ralewaylight';
    src: url('../fonts/Raleway/raleway-light-webfont.woff2') format('woff2'),
    url('../fonts/Raleway/raleway-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ralewayregular';
    src: url('../fonts/Raleway/raleway-regular-webfont.woff2') format('woff2'),
    url('../fonts/Raleway/raleway-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ralewaythin';
    src: url('../fonts/Raleway/raleway-thin-webfont.woff2') format('woff2'),
    url('../fonts/Raleway/raleway-thin-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}