/*
* =================================================================
* ====================== Wormhole Stylesheet ======================
* =================================================================
*/

#wormStandAlonebtn {
    cursor: pointer;
    padding: 10px;
    position: fixed;
    border: 3px solid #FFF;
    border-radius: 100px;
    z-index: 9999999;
    top: 20px;
    right: 20px;
    transform-origin: 50% 50%;
    transform: scale(1);
    background-color: #d8b478;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.8);
    transition: all ease-in-out 0.3s;
}

#wormStandAlonebtn:hover, .display_wormholeStandAloneBtn {
    transform: scale(1.1)!important;
    background-color: #6600cc!important;
}

#wormStandAlonebtn svg {
    width: 30px;
    height: 30px;
    transform-origin: 50% 50%;
    transform: rotate(0deg);
    transition: all ease-in-out 0.5s;
}

#wormStandAlonebtn:hover svg, .display_wormholeStandAloneBtn svg {
    transform: rotate(90deg)!important;
}

#wormStandAlonebtn svg path {
    fill: rgba(0, 0, 0, 0.5);
    transition: all ease-in-out 0.5s;
}

#wormStandAlonebtn:hover svg path, .display_wormholeStandAloneBtn svg path {
    fill: rgba(255, 255, 255, 1)!important;
}

#wormholeStandAlone {
    font-family: 'ralewayregular', sans-serif;
    position: fixed;
    z-index: 9999999;
    background-color: rgba(0, 0, 0, 0.85);
    border: 2px solid #FFF;
    color: #e6b800;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.8);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    top: 100px;
    right: 20px;
    border-radius: 5px;
    width: calc(100% - 86px);
    max-width: 600px;
    word-break: break-all;
    cursor: default;
    transform-origin: 50% 50%;
    transform: scale(0.6);
    opacity: 0;
    visibility: hidden;
    transition: transform linear 0.2s, opacity linear 0.2s, visibility linear 0.2s;
}

.display_wormholeStandAlone {
    transform: scale(1)!important;
    opacity: 1!important;
    visibility: visible!important;
}

#wormholeStandAlone h3 {
    font-family: 'ralewayblack', sans-serif;
    width: calc(100% - 80px);
    cursor: move;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 4px;
    text-align: center;
    background-image: linear-gradient(to right, transparent, rgba(102, 0, 204, 0.7), transparent);
    margin: 0 20px;
    padding: 20px 20px;
}

#debugger_desc {
    width: 100%;
    text-align: center;
    padding: 10px 0;
    cursor: default;
}

#wormholeStandAlone hr {
    background-image: linear-gradient(to right, transparent, #fff, transparent);
    border: none;
    min-height: 1px;
    cursor: default;
    width: calc(100% - 40px);
    margin: 0 20px 20px 20px;
}

#debug_replace_tag_container::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

#debug_replace_tag_container::-webkit-scrollbar-track {
    background: transparent;
    border: none;
    border-radius: 0!important;
}

#debug_replace_tag_container::-webkit-scrollbar-thumb {
    background: rgba(102, 179, 255, 0.3);
    border-radius: 0!important;
}

#debug_replace_tag_container::-webkit-scrollbar-thumb:hover {
    background: rgba(102, 179, 255, 0.7);
}

#debug_replace_tag ul {
    display: flex;
    flex-direction: column;
    width: calc(100% - 20px);
    margin: 0;
    cursor: default;
    padding-left: 25px;
}

#debug_replace_tag li {
    line-height: 20px;
    width: 100%;
    padding: 0px 0 10px 0;
    margin: 5px 0;
    word-break: break-all!important;
    border-bottom: 1px solid #3C3C3C;
}

#debugger_desc b {
    background-color: rgba(255, 255, 255, 1);
    padding: 5px 10px;
    border-radius: 100px;
}

#debug_pre_tag {
    display: none;
}

#debug_replace_tag_container {
    max-height: 60vh;
    overflow-y: scroll;
    overflow-x: hidden;
    padding: 0 20px 10px 20px;
    width: calc(100% - 40px);
}

#debug_replace_tag {
}

#debug_replace_tag, #debug_replace_tag span, #debug_replace_tag li {
    font-family: 'ralewaythin', sans-serif;
    font-size: 12px;
    word-break: break-all;
    cursor: default;
}

#path_file_debugger {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    color: #fff;
    width: calc(100% - 60px);
    margin: 0 20px 10px 20px;
    padding: 0 10px;
    background-image: linear-gradient(to right, rgba(0, 102, 0, 0.5), transparent, transparent);
    border-radius: 2px;
}

#path_file_debugger span {
    font-size: 12px;
}

#path_file_debugger span:first-of-type {
    margin-right: 20px;
}

#path_file_debugger span i {
    color: #66b3ff;
}

.close_braces {
    width: 100%;
    padding-bottom: 15px;
}

.close_braces:last-of-type {
    padding-bottom: 0;
}

.lil_braces {
    margin: 0 1px;
}

.code_orange {color: #ff9933;}
.code_blue {color: #66b3ff; padding: 0 2px}
.code_purple {color: #6600cc}
.code_green {color: #66cc66;}
.code_red {color: #ff531a;}
.code_gold {color: #e6b800;}
.code_bold {font-family: 'ralewaybold', sans-serif; font-weight: bold}